
/* Navbar Design  */

.navbar{
  background-color: rgb(226, 226, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  display: flex;
  gap: 2rem;

}

.nav-links li{
  list-style: none;
}

.nav-links li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.logo{
  margin-left: 2rem;
}

.logo a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bolder;
}

.room-btn{
  margin-right: 2rem;
  padding: 0.5rem;
  background-color: rgb(205, 164, 243);
  border-color: rgb(164, 91, 233);
  border-radius: 8px;
  font-size: 1rem;
}